body {
    margin: 0;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    background-color: lightgrey;
    padding: 5px;
}

.right-header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-right: 10px;
}

.link {
    background-color: blue;
    margin-right: 20px;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-self: center;
}

.link a {
    color: white;
    padding-right: 20px;
    padding-left: 20px;
    align-self: center;
}

.icon {
    border-radius: 50%;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
}

.search-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.search-container div {
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    padding-left: 16px;
    padding-right: 16px;
}

.search-bar {
    background-color: lightgray;
    width: 80%;
    margin-right: 16px;
}

.enter-button {
    background-color: #0084fd;
}

.enter-button p {
    color: black;
    text-decoration: un
}
